body{
    font-family: Arial, Helvetica, sans-serif
}

h1{
    color: #e8e5f3;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    margin: 20px 0 10px;   
}
ul {
margin: 0;
padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
  }

li::first-letter {
text-transform: capitalize;
}

.weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
  
}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgb(12, 73, 116) 72.6%);    
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 100px;
    width: 100px;
    float: left;
}

.weather-temperature strong {
    color: #e8e5f3;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
position: relative;
font-size: 16px;
top: -34px;
}

.weather-temperature .active:hover {
color: rgb(33, 33, 33);
cursor: default;
text-decoration: none;
}

.weather-forecast {
margin-top: 20px; 
text-align: center;
color: #e8e5f3;  

}

.weather-forecast-date {
font-size: 18px;
opacity: 0.5;
}

.weather-forecast-temperature-min{
    opacity: 0.5;
}

.weather-forecast-temperatures {
font-size: 15px;
}